* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: #ddd;
    font-family:'Montserrat', sans-serif;
}

body {
    background-color: rgba(200, 255, 3, 0.849);
}

.div-titulo {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo{
color: rgb(0, 0, 0);
font-size: 50px;
}


.contenedor {
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
}

/*estilos primer recuadro para ingresar datos*/
.contenedor .div-formulario{
    width: 30%;
    height: 250px;
    margin: 15px 15px;
    background-color: rgb(0, 0, 0);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(255, 0, 0, 0.3);
}

.contenedor .div-formulario h2 {
    margin-top: 10px;
    font-weight: 300;
    color: rgb(255, 251, 251);
}

.contenedor .div-formulario form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    
}

.contenedor .div-formulario form input,
.contenedor .div-formulario form button {
    width: 60%;
    padding: 10px 10px;
    margin: 10px 10px;
    color: black;
}

/*estilos listado productos*/
.contenedor .div-listado {
    width: 55%;
    height: calc(100% - 50px);
    margin: 15px 15px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(252, 1, 1, 0.3);
    overflow: auto;
}

.contenedor .div-listado h2 {
    margin-top: 10px;
    font-weight: 300;
    font-size: 2em;
    color: rgb(255, 255, 255);
}
.contenedor .div-listado .div-lista {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding: 0 30px;
}
.contenedor .div-listado .div-lista p {
    margin: 10px 0;
    font-size: 1em;
    color: #ddd;
}

hr {
    width: 100%;
    height: 1px;
}
.btn {
    padding: 5px 10px;
    border: none;
    margin: 0 5px;
    color: white;
    border-radius: 50px;
}

.btn-editar {
    background-color: greenyellow;
    font-size: 1em;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
    margin-right: 8px;
    color: #5e5d5d;
}
.btn-editar:hover{
    background-color: rgb(0, 255, 13);
    transform: translateY(-15px);
    box-shadow: 0 12 px 16 px rgb(139, 0, 0);
    color: #030303;
}

.btn-eliminar {
    font-size: 1em;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
    margin-right: 8px;
    background-color: rgb(177, 41, 41);
}

.btn-eliminar:hover {
    background-color: rgb(255, 0, 0);
        transform: translateY(-15px);
        box-shadow: 0 12 px 16 px rgb(252, 47, 47);
        color: #ffffff;
}

.b{
    font-size: 1em;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
    margin-right: 8px;
}

 .b:hover{
        background-color: rgb(255, 234, 0);
        transform: translateY(-15px);
        box-shadow: 0 12 px 16 px rgba(0, 0, 0, 0.2);
 }

 .footer{
    color: #030303;
 }
